In [87]:
import mysql.connector
import pandas as pd
#from prettytable import PrettyTable
# Connect to MySQL database
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="csv_db 14"
)

# Query to fetch the data
query = "SELECT * FROM stores"

# Use Pandas to fetch data from MySQL
df = pd.read_sql(query, mydb)

# Close the connection
mydb.close()

# Display the first few rows of the dataframe
print(df.head())

   StoreKey    Country                         State Square Meters   Open Date
0         1  Australia  Australian Capital Territory           595  2008-01-01
1         2  Australia            Northern Territory           665  2008-01-12
2         3  Australia               South Australia          2000  2012-01-07
3         4  Australia                      Tasmania          2000  2010-01-01
4         5  Australia                      Victoria          2000  2015-12-09

C:\Users\avr81\AppData\Local\Temp\ipykernel_14020\2669164041.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, mydb)

In [89]:
#Check for missing values

print(df.isnull().sum())

StoreKey         0
Country          0
State            0
Square Meters    0
Open Date        0
dtype: int64

In [91]:
#Fill missing values
df.fillna('Unknown', inplace=True)  # Replace NaN with 'Unknown' in all columns

In [95]:
df.drop_duplicates(inplace=True)

In [97]:
# Data Type Conversion Convert to numeric 
df['Square Meters'] = pd.to_numeric(df['Square Meters'], errors='coerce')

In [99]:
#Convert to datetime
df['Open Date'] = pd.to_datetime(df['Open Date'], errors='coerce')

In [101]:
#Handle Outliers
Q1 = df['Square Meters'].quantile(0.25)
Q3 = df['Square Meters'].quantile(0.75)
IQR = Q3 - Q1
# Filter out the outliers
df = df[~((df['Square Meters'] < (Q1 - 1.5 * IQR)) | (df['Square Meters'] > (Q3 + 1.5 * IQR)))]
print(df)

    StoreKey        Country                         State  Square Meters  \
0          1      Australia  Australian Capital Territory          595.0
1          2      Australia            Northern Territory          665.0
2          3      Australia               South Australia         2000.0
3          4      Australia                      Tasmania         2000.0
4          5      Australia                      Victoria         2000.0
..       ...            ...                           ...            ...
62        63  United States                          Utah         2000.0
63        64  United States                 Washington DC         1330.0
64        65  United States                 West Virginia         1785.0
65        66  United States                       Wyoming          840.0
66         0         Online                        Online            NaN

    Open Date
0  2008-01-01
1  2008-01-12
2  2012-01-07
3  2010-01-01
4  2015-12-09
..        ...
62 2008-03-06
63 2010-01-01
64 2012-01-01
65 2014-01-01
66 2010-01-01

[67 rows x 5 columns]

In [61]:
#Strip leading/trailing spaces in string columns:
df['Country'] = df['Country'].str.strip()

In [71]:
#Convert text to lowercase:
df['Country'] = df['Country'].str.lower()

In [ ]:

df.to_csv('cleaned_stores.csv', index=False)

In [127]:
import mysql.connector
import pandas as pd
#from prettytable import PrettyTable
# Connect to MySQL database
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="csv_db 14"
)

# Query to fetch the data
query = "SELECT * FROM customers"

# Use Pandas to fetch data from MySQL
df = pd.read_sql(query, mydb)

# Close the connection
mydb.close()

# Display the first few rows of the dataframe
print(df.head())

   CustomerKey  Gender               Name            City statecode  \
0          301  Female      Lilly Harding  WANDEARAH EAST        SA
1          325  Female       Madison Hull      MOUNT BUDD        WA
2          554  Female      Claire Ferres       WINJALLOK       VIC
3          786    Male  Jai Poltpalingada    MIDDLE RIVER        SA
4         1042    Male    Aidan Pankhurst   TAWONGA SOUTH       VIC

               State ZipCode    Country  Continent    Birthday
0    South Australia    5523  Australia  Australia  1939-07-03
1  Western Australia    6522  Australia  Australia  1979-09-27
2           Victoria    3380  Australia  Australia  1947-05-26
3    South Australia    5223  Australia  Australia  1957-09-17
4           Victoria    3698  Australia  Australia  1965-11-19

C:\Users\avr81\AppData\Local\Temp\ipykernel_14020\1631540713.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, mydb)

In [105]:
#Check for missing values

print(df.isnull().sum())

CustomerKey    0
Gender         0
Name           0
City           0
statecode      0
State          0
ZipCode        0
Country        0
Continent      0
Birthday       0
dtype: int64

In [123]:
#Fill missing values
df.fillna('Unknown', inplace=True)  # Replace NaN with 'Unknown' in all columns
df.drop_duplicates(inplace=True)

In [149]:

# Data Type Conversion Convert to numeric 
df['CustomerKey'] = pd.to_numeric(df['CustomerKey'], errors='coerce')
df['City'] = df['City'].astype(str)


#Convert to datetime
df['Birthday'] = pd.to_datetime(df['Birthday'], errors='coerce')

In [153]:
#Strip leading/trailing spaces in string columns:
df['City'] = df['City'].str.strip()

#Convert text to lowercase:
df['City'] = df['City'].str.lower()

AttributeError: Can only use .str accessor with string values!

In [131]:

df.to_csv('cleaned_stores.csv', index=False)